.q1 {
  width: 60%;
  margin: 0 auto;
}

.q2 {
  width: 60%;
  margin: 0 auto;
}

.q3 {
  width: 60%;
  margin: 0 auto;
}

.q4 {
  width: 60%;
  margin: 0 auto;
}

.q5 {
  width: 60%;
  margin: 0 auto;
}

button {
  position: absolute;
  width: 60%;
  margin: 0 auto;
}

.graph1 {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graph2 {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graph3 {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graph4 {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}

.graph5 {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  box-sizing: border-box;
}
