<div class='body'>
<div class="container" id="header">
  <div class="row">
    <div class='col'>
      <app-finance-bar></app-finance-bar>
    </div>
  </div>
</div>
<div class="container" id="subHeader">
  <div class="row">
    <div class="col">
      <marquee>
        <a href="https://www.aarp.org/money/investing/info-2019/rational-money-management.html" target="_blank">Psych Yourself Into Making Rational Money Decisions</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.aarp.org/money/investing/info-2019/predicting-profits.html" target="_blank">Using Gut Instincts to Invest in the Future</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.aarp.org/money/scams-fraud/info-2019/strike-force-elder-fraud.html" target="_blank">DOJ Strike Force Will Target Foreign-Based Scams</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.aarp.org/money/credit-loans-debt/info-2019/cash-out-refinancing.html" target="_blank">Is it Time to Refinance Your Home to Get Cash Out?</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.aarp.org/money/credit-loans-debt/info-2019/test-your-knowledge.html" target="_blank">How Much Do You Know About Credit and Debt?</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.aarp.org/money/investing/info-2019/strategy-amid-trade-wars.html" target="_blank">How Tariffs and Trade Wars Affect Your Investments</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/InvResWomenVsMen&SYND=RSS&Channel=RI" target="_blank">Taking retirement readiness to the next level</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/InvResDeriskingStrategies&SYND=RSS&Channel=RI" target="_blank">Women versus men in DC plans</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/InvResDCPlansGenerations&SYND=RSS&Channel=RI" target="_blank">Do derisking strategies raise the pension expense?</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/VideoRetirementSpending&SYND=RSS&Channel=RI" target="_blank">Defined contribution plans and generations</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/VideoHealthSavingsAccount&SYND=RSS&Channel=RI" target="_blank">Webcast excerpt: How can hidden costs of health care impact retirement spending?</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/InvResDigitalFinancialAttention&SYND=RSS&Channel=RI" target="_blank">Webcast excerpt: How should you think about a health savings account?</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="https://institutional.vanguard.com/VGApp/iip/site/institutional/researchcommentary/article/VideoHealthCareCosts&SYND=RSS&Channel=RI" target="_blank">Introduction to digital financial attention</a>
      </marquee>

    </div>
  </div>
</div>
<hr>
<div class="container" id="bodyArea">
  <div class="row">
    <div class="col-3 assets">
      <!-- <app-modal-options></app-modal-options> -->
      <app-assetdisplay></app-assetdisplay>
      <app-risk-questionnaire></app-risk-questionnaire>
    </div>
    <div class="col-6 offset-3">
      <app-retiregoals></app-retiregoals>
    </div>
  </div>
</div>
</div>
