/* td {
  text-align: left;
  padding-left: 20px;
} */

.container {
  background-color: #4d818c;
  border-radius: 10px;
  color: white;
}
 .field {
  border-radius: 10px;
  border-width: medium;
  border-color: rgba(255, 255, 255, .5);
  border-style: solid;
 }
 .value {
   text-align: right;
 }
 td{
   color: white;
 }

button {
  margin-bottom: 10px;
}

.modal-body {
  z-index: 1;
  position: relative;
  background-color: #4d818cbb;
}
