/* td {
  text-align: left;
  padding-left: 20px;
} */

.container {
  background-color: lightblue;
  border-radius: 10px;
}
 .field {
  border-radius: 10px;
  border-width: medium;
  border-color: rgba(31, 31, 118, 0.721);
  border-style: solid;
 }
 .value {
   text-align: right;
 }

button {
  margin-bottom: 10px;
}

.modal-body {
  z-index: 1;
  position: relative;
}
