td {
  text-align: left;
  padding-left: 20px;
}

div {
  /* z-index: 1;
  position: relative; */
  background-color: lightblue;
}

button {
  text-align: right;
}

.modal-body {
  z-index: 1;
  position: relative;
}
