.centered{
  margin:0 auto;
  position: relative;
}
.right{
  position: absolute;
  right: 0;
  top: 0;
}
h1{
  font-family: gotham narrow;
  font-weight: bolder;
  text-align: center;
}
div#logo{
  position: relative;
  z-index: -1;
  right: 0;
  top: 0;
}
h4 {
  position: relative;
  text-align: center;
}

