<div class="row">
  <div class="column">
    <table class="table">
      <thead>
        <tr>
          <th>Asset</th>
          <th>Amount</th>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets">
          <td (click)="open(content); editAsset = asset">{{asset.vehicle.assetName}}</td>
          <td>{{asset.amount | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Asset update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Asset Amount</span>
          </div>
          <input type="number" class="form-control" aria-label="Asset Amount" aria-describedby="inputGroup-sizing-sm"
            value={{editAsset.amount}} [(ngModel)]="editAsset.amount">
        </div>
      </tr>
      <tr>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Contribution</span>
          </div>
          <input type="number" class="form-control" aria-label="Asset Amount" aria-describedby="inputGroup-sizing-sm"
            value={{editAsset.contributionFixed}} [(ngModel)]="editAsset.contributionFixed">
        </div>
      </tr>
      <tr *ngIf="editAsset.contributionPercent > 0">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Contribution %</span>
          </div>
          <input type="number" class="form-control" aria-label="Contribution" aria-describedby="inputGroup-sizing-sm"
            value={{editAsset.contributionPercent}} [(ngModel)]="editAsset.contributionPercent">
        </div>
      </tr>
      <tr *ngIf="editAsset.doesEmployerMatch">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Employer Match</span>
          </div>
          <input type="number" class="form-control" aria-label="Employer Match" aria-describedby="inputGroup-sizing-sm"
            value={{editAsset.employerMatch}} [(ngModel)]="editAsset.employerMatch">
        </div>
      </tr>
      <tr *ngIf="editAsset.riskProfile != null">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Risk Profile</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="editAsset.riskProfile">
            <option selected>Choose...</option>
            <option *ngFor="let risk of risks" value="risk">{{risk.name}}</option>
          </select>
        </div>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)='deleteAsset()'
      (click)="modal.close('Delete click')">Delete</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close('Save click'); editAssets(editAsset)">Save</button>
  </div>
</ng-template>