th, td {
  text-align: left;
  padding: 8px;
  color: white;
}

.table table {
  outline-style: ridge;
  outline-width: thin;
}
.modal-body tr {
  word-wrap: break-word;
  background-color: white;
  color: #162336;
  border: none;
}

tr:nth-child(even) {
  background-color: #4d818c;
  border-radius: 10px;
}
tr:nth-child(odd){
  background-color: #325765;
  border-radius: 10px;
}
td {
  width: 100px;
}
thead {
  background-color: #162336;
}

