th, td {
  text-align: left;
  padding: 8px;
}
table {
  outline-style: ridge;
  outline-width: thin;
}
.modal-body p {
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: lightgrey;
}
td {
  width: 100px;
}

