<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Type of Investment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <!-- <label for="exampleFormControlSelect1">Example select</label> -->
      <select
        class="form-control"
        id="investmentAdd"
        [(ngModel)]="asset.vehicle"
        (change)="setVehicle()"
      >
        <option value="" selected="selected">Select investment type</option>
        <option *ngFor="let vehicle of vehicles" [ngValue]='vehicle' >{{vehicle.assetName}}</option>
      </select>

      <div *ngIf="asset.vehicle != null">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Amount"
            placeholder="Account Balance"
            (keypress)="contribute()"
            [(ngModel)]="asset.amount"
          />
          <!-- <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div> -->
        </div>
      </div>
      <div *ngIf="contribution">

        Do you make contributions to this {{ asset.vehicle.assetName }} ?<br />
        <input
          type="radio"
          name="contribution"
          value="yes"
          (change)="recurringContribution()"
        />Yes
        <input
          type="radio"
          name="contribution"
          value="no"
          (change)="submitAppear()"
        />No
      </div>

      <div class="input-container" *ngIf="recurring">
        How often?
        <span class="input-group-btn" style="margin-bottom:3px">
          <!-- <button class="btn btn-add left-button btn-primary" ng-click=""> -->
              <button ng-class="dollarButton" ng-click="">
            $
          </button>
          </span
        >
        <span class="input-group-btn" style="margin-bottom:3px">
          <!-- <button class="btn btn-add right-button btn-primary" ng-click=""> -->
              <button ng-class="percentButton" ng-click="">
            %
          </button></span
        >

        <input
          type="number"
          aria-label="Contribution percent"
          aria-describedby="Contribution percent"
          no-arrow-step=""
          name="contributionPercent"
          ng-model=""
          class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-empty"
          placeholder="How much?"
          (change)="matchingContribution()"
        />

        <select
          name="investmentFrequency"
          aria-describedby="investment frequency"
          class="form-control width-auto ng-pristine ng-valid ng-empty ng-touched"
          ng-model=""
          ><option label="Select Frequency" value="string:" selected="selected"
            >Select Frequency</option
          ><option label="Weekly" value="string:WEEK">Weekly</option
          ><option label="Biweekly" value="string:BIWEEK">Biweekly</option
          ><option label="Semi-monthly" value="string:SMONTH"
            >Semi-monthly</option
          ><option label="Monthly" value="string:MONTH">Monthly</option
          ><option label="Annually" value="string:ANNUAL"
            >Annually</option
          ></select
        >
      </div>

      <div *ngIf="match">
        Does your emplyoyer make matching contributions to this
        {{ investment }} ?<br />
        <input
          type="radio"
          name="contribution"
          value="yes"
          (change)="employerMatching()"
        />Yes
        <input
          type="radio"
          name="contribution"
          value="no"
          (change)="submitAppear()"
        />No
      </div>

      <div *ngIf="employerMatch">
        <table class="panel" align="center">
          <tbody>
            <th>Employer matches</th>
            <tr>
              <!-- <td>Employer matches</td> -->
              <td align="right">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">%</span
                    ><input type="text" name="ematch" />
                  </div>
                </div>
              </td>
            </tr>
            <th>Up to</th>
            <tr>
              <td align="right">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">%</span
                    ><input type="text" name="ematchend" />
                  </div>
                </div>
              </td>
            </tr>
            <th>then matches</th>
            <tr>
              <td align="right">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">%</span
                    ><input type="text" name="ematch2" />
                  </div>
                </div>
              </td>
            </tr>
            <th>Up to</th>
            <tr>
              <td align="right">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">%</span
                    ><input type="text" name="ematchend2" />
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="appear">
        <button
          type="submit"
          class="btn btn-dark"
          ngbPopover="I'm ready to submit"
          triggers="mouseenter:mouseleave"
        >
          Submit
        </button>
      </div>
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button> -->
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">
  Add Investments
</button>
<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->
