<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class='col-7'>
        <div>
         <h2> Monthly Income in Retirement</h2>
          <h1>{{((fv/yearsInRetirement())/12) * .3 | currency}}</h1>
        </div>
      </div>
      <div class="col-5">
        <ngx-gauge
          [type]="gaugeType"
          [value]="retirementReadinessVar"
          [label]="gaugeLabel"
          [thresholds]="thresholdConfig"
          [animate]="animate"
          [thick]="thickness"
        >
        </ngx-gauge>
      </div>
    </div>
  </body>
</html>
